body {
    background-image: url("/images/Flowers.jpg");
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 4rem;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#generate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: auto;
    border: 5px solid #f7d2dd;
    border-radius: 25px;
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
}

#bow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;

}

#imgCont {
    width: 400px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#contentBox {
    text-align: center;
    background-color: #f0f8ff8f;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: #f7d2dd 5px solid;
    border-radius: 40px;
}